{% extends "base.html" %}
{% block content %}


<div class="row right">
    <a href="{{url_for('routes.newDepartment')}}" id="AddDepartment-button" class="btn-large waves-effect waves-light orange">Add a new Department</a>
</div>

<h1 class="header orange-text">Departments</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
{% for message in messages %}
<li><strong>{{message}}</strong></li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}

{% for d in departments %}

<div>
<a href="{{url_for('routes.departmentSeminars', department_id=d.id)}}">
<h3>{{d.name}}</h3>
</a>
<p>{{d.description}}</p>
</br><a href="{{url_for('routes.editDepartment', department_id=d.id)}}">Edit</a>
</br><a href="{{url_for('routes.deleteDepartment', department_id=d.id)}}">Delete</a>

</div>


{% endfor %}
{% endblock %}


