<html>

<body>

<div><a href="{{url_for('newDepartment')}}">Add a new Department</a>
</div> 

<h1>departments</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
{% for message in messages %}
<li><strong>{{message}}</strong></li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}

{% for d in departments %}

<div>
<a href="{{url_for('departmentSeminars', department_id=d.id)}}">
<h2>{{d.name}}</h2>
</a>
<p>{{d.description}}</p>
</br><a href="{{url_for('editDepartment', department_id=d.id)}}">Edit</a>
</br><a href="{{url_for('deleteDepartment', department_id=d.id)}}">Delete</a>

</div>


{% endfor %}
</body>

</html>


