{% extends "base.html" %}
{% block content %}

<section id="AddNewSeminar">
<h3 class="header orange-text">Add a new Seminar</h3>

<form action= "{{url_for('routes.newSeminarItem', department_id=department.id)}}" method = 'POST'>
<div class="row">
<div class="input-field col s12">
<textarea name='title' id="title" class="materialize-textarea" placeholder='ex. Title'>
</textarea>
<label for="title">Title:</label>
</div>
</div>

<div class="row">
    <div class="input-field col s6">
      <input name='speaker' id="speaker" type="text" class="validate" placeholder='ex. John Smith'>
      <label class="active" for="speaker">Speaker Name:</label>
    </div>
</div>

<div class="row">
<div class="input-field col s12">
<textarea name='abstract' id="abstract" class="materialize-textarea" placeholder= 'ex. Abstract'>
</textarea>
<label for="abstract">Abstract:</label>
</div>
</div>

<div class="row">
<div class="input-field col s6">
<input type="date" class="datepicker" name="date_time" placeholder= 'ex. 01 January, 2017'>
</div>
</div>

<div class="row">
    <div class="input-field col s6">
      <input name='building' id="building" type="text" class="validate" placeholder ='ex. Sunnybrook'>
      <label class="active" for="building">Building:</label>
    </div>
</div>

<div class="row">
    <div class="input-field col s6">
      <input name='room' id="room" type="text" class="validate" placeholder ='ex. Auditorium'>
      <label class="active" for="room">Room:</label>
    </div>
</div>

<div>
<button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
</button>
<a href="{{url_for('routes.departmentSeminars', department_id=department.id)}}" class="waves-effect waves-light btn">Cancel</a>
</div>
</form>


</section>


{% endblock %}