{% extends "base.html" %}
{% block content %}

<div class="row right">
    <a href="{{url_for('routes.newSeminarItem', department_id=department.id)}}" id="AddSeminar-button" class="btn-large waves-effect waves-light orange">Add a new Seminar</a>
</div>

<h1>{{department.name}}</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
{% for message in messages %}
<li><strong>{{message}}</strong></li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}

{% for i in items %}

<div>

<p>{{i.title}}</p>

<p>{{i.abstract}}</p>

<p> {{i.speaker}} </p>

<p> {{i.date_time.strftime("%d, %B %Y")}} </p>

<p> {{i.building}},  {{i.room}} </p>

</br><a href="{{url_for('routes.editSeminarItem', department_id=department.id, seminar_id=i.id)}}">Edit</a> 
</br><a href="{{url_for('routes.deleteSeminarItem', department_id=department.id, seminar_id=i.id)}}">Delete</a>

</div>


{% endfor %}
{% endblock %}