<html>

<body>

<div><a href='/Department'>Back to Departments</a></div>
<div><a href="{{url_for('newSeminarItem', department_id=department.id)}}"> Add a new seminar</a>
</div> 

<h1>{{department.name}}</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
{% for message in messages %}
<li><strong>{{message}}</strong></li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}

{% for i in items %}

<div>

<p>{{i.title}}</p>

<p>{{i.abstract}}</p>

<p> {{i.speaker}} </p>

<p> {{i.date_time}} </p>

<p> {{i.building}},  {{i.room}} </p>

</br><a href="{{url_for('editSeminarItem', department_id=department.id, seminar_id=i.id)}}">Edit</a> 
</br><a href="{{url_for('deleteSeminarItem', department_id=department.id, seminar_id=i.id)}}">Delete</a>

</div>


{% endfor %}
</body>

</html>
